@{
    ViewData["Title"] = "Tests";
}

<img class="yellow-bg-img" src="~/images/Background.png" />

<div class="body-content">
    <div class="container">
        <div class="header-wrapper">
            <h1>Tests</h1>
            @if (ViewBag.Modules.Count > 1)
            {
                <select id="module-select">
                    <option value="-1">All Modules</option>
                    @foreach (TestApp.MVC.Models.Module module in ViewBag.Modules)
                    {
                        @if (ViewBag.SelectedIndex == module.ModuleId)
                        {
                            <option value="@module.ModuleId" selected>@module.ModuleName</option>
                        }
                        else
                        {
                            <option value="@module.ModuleId">@module.ModuleName</option>
                        }
                    }
                </select>
            }
        </div>
        <div class="tests-wrapper">
            <div class="row">
                @if (ViewBag.Tests.Count > 0)
                {
                    <ul class="test-ul">

                        @foreach (TestApp.MVC.ViewModels.StudentTestsViewModel viewModel in ViewBag.StudentTestsViewModels)
                        {
                            <li class="test-li">
                                <div class="test-container" data-id="@viewModel.Test.TestId">
                                    <div class="row">
                                        <div class="col-lg-8 left-side">
                                            <h2 class="test-heading">@viewModel.Test.Title</h2>
                                            <span class="extra-info module-name">@viewModel.Test.Module</span>
                                            <span class="extra-info">Due: @viewModel.Test.DueDate.ToShortDateString()</span>
                                        </div>
                                        <div class="col-lg-4 right-side">
                                            @if (viewModel.HasTaken)
                                            {
                                                <span class="completed-text">- Completed</span>
                                                <a href="/Tests/Take/@viewModel.Test.TestId" class="default-flat-button">View Result</a>
                                            }
                                            else
                                            {
                                                <a href="/Tests/Take?testID=@viewModel.Test.TestId" class="default-yellow-button">Take Test</a>
                                            }
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }
                    </ul>

                }
                else
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="test-container empty">
                            <h2 class="test-heading no-tests">No Tests</h2>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('#module-select').on('change', () => {
        window.location.replace('/Tests/Index?moduleID=' + $('#module-select').val());
    });
</script>