@{
    ViewData["Title"] = "Home Page";
}

<img class="yellow-bg-img" src="~/images/Background.png" />

<div class="body-content">
    <div class="container">
        <div class="header-wrapper">
            <h1>Upcoming Tests</h1>
            @*@if (ViewBag.Modules.Count > 1)
                {
                    <select id="module-select">
                        <option data-id="0">All Modules</option>
                        @foreach (TestApp.MVC.Models.Module module in ViewBag.Modules)
                        {
                            <option data-id="@module.ModuleId">@module.ModuleName</option>
                        }
                    </select>
                }*@
        </div>
        <div class="tests-wrapper">
            <div class="row">
                @if (ViewBag.Tests.Count > 0)
                {
                    @foreach (TestApp.MVC.Models.Test test in ViewBag.Tests)
                    {
                        <div class="col-md-6 col-sm-12">
                            <div class="test-container" data-id="@test.TestId">
                                <h2 class="test-heading">@test.Title</h2>
                                <span class="extra-info">Due: @test.DueDate.ToShortDateString()</span>
                                <span class="extra-info" id="num-submissions_@test.TestId">Total submissions: 0</span>

                                <div class="submissions-graph" id="test_@test.TestId">
                                </div>

                                <a href="#" class="view-test-link">View Test</a>

                            </div>
                        </div>
                    }
                    <script src="~/js/submissionsPerDate.js"></script>
                }
                else
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="test-container empty">
                            <h2 class="test-heading no-tests">No Tests</h2>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>